<!DOCTYPE html>
<html lang="kr" ng-app="try">
  <head>
    <meta charset="utf-8">

    <title>Try angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./js/app/app.module.js" ></script>
    <script src="./js/app/app.config.js" ></script>
    <style>
      .new-class{
        font-size: 50px;
      }

      .other-class{
        font-size: 30px;
      }

    </style>
  </head>

  <body>
    <h1 class='new-class' ng-class="{'other-class': name}">hello,
      <span ng-if="name">{{ name }}</span>
      <span ng-if="!name">world!</span>
    </h1>
    <input type="text" ng-model="name">
  </body>

</html>
