<div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
        <div class="page-header">
            <h1>{{ post.title }} </h1>
            <p>{{post.description}}</p>
        </div>


        <h3>comment </h3>
        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control"  ng-model="query" >

                <ul>
                    <li ng-repeat="comment in post.comments | filter : query ">
                        {{ comment.text }}
                        <a href="#" ng-click="deleteComment(comment)">delete</a>


                    </li>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-6">
                <p style='color:red;' ng-if="reply.text">{{ reply.text}}</p>
                <form ng-submit="addReply()">
                    <input type='hidden' ng-model='reply.id'>
                    <textarea class="form-control" ng-model='reply.text'>

                    </textarea>
                    <input class="btn btn-default" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>

