<h1>Blog List <small><a href="#" ng-click="changeCols(4)">change</a></small> </h1>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="text" ng-model="query" class="form-control">
        <span ng-if='items.length == 0 '> Post comming soon</span>
    </div>
</div>
<div class="row" dir-paginate="items in colItems | itemsPerPage : 4 | filter: query">
    <div class="{{ cssClass }}" ng-repeat="post in items ">
        <div class="thumbnail">
          <img ng-src="{{ post.image }}" alt="...">
          <div class="caption">
            <h3>{{ post.title }}</h3>
            <p>{{ post.text }} {{ post.publishDate}}</p>

            <p><a href="#" class="btn btn-primary" ng-click='goToItem(post)' role="button">view</a></p>
          </div>
        </div>
      </div>
</div>

<dir-pagination-controls ng-hide='query.length > 0'></dir-pagination-controls>
<!--
<ul ng-if='items.length > 0 '>
    <li ng-repeat="item in items ">
        <a href='#' ng-click='goToItem(item)'>{{ item.title }}</a>
        <a ng-href='/blog/{{item.id }}' confirm-click='are y sure?' confirmed-click="/blog/{{item.id }}"/>{{ item.title }}</a>

    </li>
</ul>
-->


